<html>

	<head>

		<title>angular-carousel2</title>

		<link rel="stylesheet" type="text/css" href="example/styles.css">

	</head>

	<body ng-app="ExampleApp" ng-controller="ExampleCtrl">

		<div hj-carousel="slide in data.slides" hj-carousel-options="carouselOptions">

			<div class="slide" style="background-color: {{slide.color}}">

				<h1 ng-bind="slide.text"></h1>

			</div>

		</div>

		<ul class="controls">

			<li ng-click="carouselEmitter('prev')">&#10094;</li>

			<li ng-repeat="slide in data.slides"
				ng-click="carouselEmitter('goTo', $index)"
				ng-class="{active: $index == activeSlideIndex}"
				ng-bind="{{$index + 1}}"></li>

			<li ng-click="carouselEmitter('next')">&#10095;</li>

		</ul>

		<ul class="controls" style="bottom: 3em;">

			<li ng-click="carouselEmitter('playPause', true)" ng-bind="isPlaying ? 'Pause' : 'Play'"></li>

			<!-- <li ng-click="carouselEmitter('play')">Play</li> -->

			<!-- <li ng-click="carouselEmitter('stop')">Stop</li> -->

		</ul>

		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.2.8/angular.min.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.2.8/angular-touch.min.js"></script>
		<script type="text/javascript" src="angular-carousel2.js"></script>
		<script type="text/javascript" src="example/app.js"></script>

	</body>

</html>