<html ng-app="ExampleApp">
  <head>
    <title>angular-carousel2</title>

    <link rel="stylesheet" type="text/css" href="example/styles.css" />
  </head>

  <body ng-controller="ExampleCtrl as vm">
    <div
      hj-carousel="slide in vm.slides"
      hj-carousel-options="vm.carouselOptions"
    >
      <div class="slide" style="background-color: {{ slide.color }}">
        <h1 ng-bind="slide.text"></h1>
      </div>
    </div>

    <ul class="controls">
      <li ng-click="vm.carouselEmitter('prev')">&#10094;</li>

      <li
        ng-repeat="slide in vm.slides"
        ng-click="vm.carouselEmitter('goTo', $index)"
        ng-class="{active: $index == vm.activeSlideIndex}"
        ng-bind="{{$index + 1}}"
      ></li>

      <li ng-click="vm.carouselEmitter('next')">&#10095;</li>
    </ul>

    <ul class="controls" style="bottom: 3em;">
      <li
        ng-click="vm.carouselEmitter('playPause', true)"
        ng-bind="vm.isPlaying ? 'Pause' : 'Play'"
      ></li>

      <!-- <li ng-click="vm.carouselEmitter('play')">Play</li> -->

      <!-- <li ng-click="vm.carouselEmitter('stop')">Stop</li> -->
    </ul>

    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.angularjs.org/1.6.10/angular.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://www.unpkg.com/hammerjs@2.0.8/hammer.min.js"
    ></script>
    <script type="text/javascript" src="angular-carousel2.js"></script>
    <script type="text/javascript" src="example/app.js"></script>
  </body>
</html>
